In [ ]:
from sqlalchemy import create_engine
import pandas as pd
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, GradientBoostingRegressor
from sklearn.metrics import (
    mean_squared_error, mean_absolute_error, confusion_matrix, accuracy_score
)
import pickle
import datetime
import numpy as np

In [ ]:

user = "erpnext_sql"
password = "rtp[ps4XRF0_pX"
db = "_abde597b15b69fc8"
host = "erpnext.responsible-ai.net"
port = "3333"

In [3]:
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}")

In [ ]:

data_sql_full = pd.read_sql("""
    Select 		
			po.name, 
            po.supplier, 
            po.total_qty,
            po.transaction_date as order_date,
            po_items.schedule_date,
            po_receipt.posting_date as delivered_date
    FROM `tabPurchase Order` po
    LEFT JOIN `tabPurchase Order Item` po_items
    	on po.name = po_items.parent
    LEFT JOIN `tabPurchase Receipt Item` po_receipt_item
    	on po.name = po_receipt_item.purchase_order 
    LEFT JOIN `tabPurchase Receipt` po_receipt
    	on po_receipt_item.parent = po_receipt.name
    """, engine)

In [ ]:

data_sql_full.shape

(17181, 6)

In [ ]:

data_sql_full.head()

,name,supplier,total_qty,transaction_date,schedule_date,posting_date
0,e,Beans Inc.,750.0,2020-06-14,None,None
1,PUR-ORD-2024-08-00002,Beans Inc.,750.0,2023-04-24,2023-04-29,2023-05-04
2,PUR-ORD-2024-08-00003,Fair Trade AG,750.0,2024-09-08,2024-09-21,None
3,PUR-ORD-2024-08-00004,Aromatico,1000.0,2022-10-26,2022-11-10,2022-11-29
4,PUR-ORD-2024-08-00005,Aromatico,500.0,2022-03-18,2022-04-05,2022-04-24